<div class="container" id="cardcontainer">
    <div class="row">
        <div class="col-md-6">
            <div class="card" >
                <div class="insidecard">

                    <h2>Editer et Imprimer</h2>
                    <div class="row">

                        <div class="col-md-4 smallcol" >
                            <div id="icone1">

                            </div>
                        </div>
                        <div class="col-md-8 bigcall">
                            Dans cet espace vous pouvez creer des fichier doc et les modefier dans l'application pour les télecharger ou les imprimer par la suite, vous puvez aussi charger des fichiers de votre ordinateur et les éditer !</div>

                    </div>
                    <a href="#" class="myButton" routerLink="edit">Editer & imprimer</a></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" >
                <div class="insidecard">

                    <h2>Charger et Imprimer</h2>
                    <div class="row">

                        <div class="col-md-4 smallcol" >
                            <div id="icone2">

                            </div>
                        </div>
                        <div class="col-md-8 bigcall">
                            Dans cet espace vous pourrez charger des fichiers PDF pour les lire en à l'aide des diffrentes options qui facilitent la lecture des fichiers ou vous pouvez les imprimer à l'aide de cette application directement   </div>

                    </div>
                    <a href="#" class="myButton" routerLink="upload">Charger & Imprimer</a></div>
            </div>
        </div>
    </div>
</div>
